<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}">
<head>
    <title>Choose Project</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 h3 mb-5">Request</div>
        <div class="col-12 col-lg-8 mb-3 form-inline">
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="project">Projects</label>
                </div>
                <select class="custom-select pr-5" id="project">
                    <option value="">Choose...</option>
                    <option th:each="project : ${projects}"
                            th:value="${project.id}"
                            th:text="${project.nameWithNamespace}">project name</option>
                </select>
            </div>
        </div>
        <div class="col-12 col-lg-8" id="branches-list"></div>
    </div>
</div>
<script layout:fragment="js-code" th:inline="javascript">
/*<![CDATA[*/
$("#project").change(function() {
    var $that = $(this).find(":selected");
    if ($that.val()) {
        $.get("/projects/" + $that.val() + "/branches-component", function(result) {
            $("#branches-list").html(result);
            $('a.dropdown-item').bind("click", switchBranches);
        });
    } else {
        $("#branches-list").empty();
    }
});

function switchBranches() {
    var projectId = $("#project").find(":selected").val();
    var target = $(this).attr('data-target');
    var commit = $(this).attr("data-commit-short-id");
    if (target == "docker") {
        bootbox.alert("Create Test Docker Container:<br>IP:192.168.33.105<br>Port:8899");
    } else if (target == "sign") {
        $.ajax({
            url: "/projects/" + projectId + "/members/all",
            dataType: "json"
        }).done(function(users) {
            if(users) {
                var approvalUsers = createApprovalUsersComboBox(users);
                bootbox.dialog({
                    title: "Please choose your signing supervisor",
                    message: approvalUsers,
                    buttons: {
                        cancel: {
                            label: 'Maybe Not',
                            className: 'btn-light'
                        },
                        confirm: {
                            label: 'Send Request',
                            className: 'btn-primary',
                            callback: function(result){
                                var username = $("#supervisor").find(":selected").val();
                                var url = "/projects/".concat(projectId, "/supervisor/", username, "/commit/", commit);
                                $.post(url, function(data) {
                                    bootbox.alert("Success!! <br>Create a new signing issue id " + data.id);
                                });
                            }
                        }
                    }
                });
            } else {
                bootbox.alert("Can't find any user.");
            }
        });
    }
}

function createApprovalUsersComboBox(users) {
    var $elem = $("<select>").attr("id", "supervisor").addClass("form-control");
    $.each(users, function(i, user) {
        $elem.append($("<option></option>").attr("value", user.id).text(user.name + '(' + user.username + ')'));
    });
    return $("<div>").append($elem).html();
}
/*]]>*/
</script>
</body>
</html>