<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-Hant-TW">
<head>
    <title>Index</title>
    <style>body{padding: 2em;}</style>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<h1>Welcome</h1>
<hr>
<a href="/login" th:href="@{/main}">Please sign in.</a>
</body>
</html>