<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}">
<head>
    <title>Branches</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 h3 mb-5">Branches</div>
        <div class="col-12 col-lg-8 mb-3 form-inline">
            <div class="input-group mb-3 mr-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelectBranch">Branch</label>
                </div>
                <select class="custom-select" id="inputGroupSelectBranch">
                    <option th:each="branch : ${branches}"
                            th:value="${branch.name}"
                            th:text="${branch.name} + ' (committed-date: ' + ${#temporals.format(branch.commit.committedDate, 'yyyy-MM-dd HH:mm')} + ') '"
                            th:selected="${branch.defaultBranch}"
                            th:data-committed-date="${#temporals.format(branch.commit.committedDate, 'yyyy-MM-dd HH:mm:ss')}"
                            th:data-commit-message="${branch.commit.message}"
                            th:data-commit-short-id="${branch.commit.shortId}">branch name</option>
                </select>
            </div>
            <div class="btn-group mb-3" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#" data-target="docker">Build a new test docker</a>
                    <a class="dropdown-item" href="#" data-target="sign">Signing process</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 h6 mb-2">Details</div>
        <div class="col-12 col-lg-8">
            <table class="table table-bordered">
                <th:block th:each="branch : ${branches}">
                <tbody th:if="${branch.defaultBranch}">
                    <tr>
                        <th scope="row" style="width:25%; min-width:160px;">Branch Name</th>
                        <td th:text="${branch.name}" style="width:75%" id="branch-name"></td>
                    </tr>
                    <tr>
                        <th scope="row">Commit Message</th>
                        <td th:text="${branch.commit.message}" id="commit-message"></td>
                    </tr>
                    <tr>
                        <th scope="row">Committed Date</th>
                        <td th:text="${#temporals.format(branch.commit.committedDate, 'yyyy-MM-dd HH:mm:ss')}" id="committed-date"></td>
                    </tr>
                </tbody>
                </th:block>
            </table>
        </div>
    </div>
</div>
<script layout:fragment="js-code" th:inline="javascript">
/*<![CDATA[*/
$("#inputGroupSelectBranch").change(function() {
    var $that = $(this).find(":selected");
    $("#branch-name").text($that.val());
    $("#commit-message").text($that.attr("data-commit-message"));
    $("#committed-date").text($that.attr("data-committed-date"));
});

$('a.dropdown-item').click(function() {
    var target = $(this).attr('data-target');
    var commit = $("#inputGroupSelectBranch").find(":selected").attr("data-commit-short-id");
    if (target == "docker") {
        bootbox.alert("Create Test Docker Container:<br>IP:192.168.33.105<br>Port:8899");
    } else if (target == "sign") {
        $.ajax({
            url: "/projects/" + [[${projectId}]] + "/members/all",
            dataType: "json"
        }).done(function(users) {
            if(users) {
                var selectBox = buildSelectBox(users);
                bootbox.dialog({
                    title: "Please choose your signing supervisor",
                    message: selectBox,
                    buttons: {
                        cancel: {
                            label: 'Maybe Not',
                            className: 'btn-light'
                        },
                        confirm: {
                            label: 'Send Request',
                            className: 'btn-primary',
                            callback: function(result){
                                console.log("supervisor is " + $("#supervisor").find(":selected").val());
                                $.post("/projects/" + [[${projectId}]] + "/supervisor/" + $("#supervisor").find(":selected").val()
                                    + "/commit/" + commit, function(data) {
                                    console.log(data);
                                });
                            }
                        }
                    }
                });
            } else {
                bootbox.alert("Can't find any user.");
            }
        });
    }
});

function buildSelectBox(users) {
    var $elem = $("<select>").attr("id", "supervisor").addClass("form-control");
    $.each(users, function(i, user) {
        $elem.append($("<option></option>").attr("value", user.id).text(user.name + '(' + user.username + ')'));
    });
    return $("<div>").append($elem).html();
}
/*]]>*/
</script>
</body>
</html>