<html xmlns:th="http://www.thymeleaf.org">
<body>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Branch Name</th>
                <th scope="col">Commit Message</th>
                <th scope="col">Latest Committed Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="branch : ${branches}">
                <td th:text="${branch.name}" id="branch-name"></td>
                <td th:text="${branch.commit.message}" id="commit-message"></td>
                <td th:text="${#temporals.format(branch.commit.committedDate, 'yyyy-MM-dd HH:mm:ss')}" id="committed-date"></td>
                <td class="td-btn">
                    <div class="btn-group" role="group">
                        <button id="btnGroupDropActions" type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Actions
                        </button>
                        <div class="dropdown-menu" aria-labelledby="btnGroupDropActions">
                            <a class="dropdown-item" href="#" data-target="docker"
                               th:data-committed-date="${#temporals.format(branch.commit.committedDate, 'yyyy-MM-dd HH:mm:ss')}"
                               th:data-commit-message="${branch.commit.message}"
                               th:data-commit-short-id="${branch.commit.shortId}">Build a new test docker</a>
                            <a class="dropdown-item" href="#" data-target="sign"
                               th:data-committed-date="${#temporals.format(branch.commit.committedDate, 'yyyy-MM-dd HH:mm:ss')}"
                               th:data-commit-message="${branch.commit.message}"
                               th:data-commit-short-id="${branch.commit.shortId}">Signing process</a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>