<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}">
<head>
    <title>Commits</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-8 h3 mb-5">Commits</div>
        <div class="col-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Committer</th>
                    <th scope="col">Committed Message</th>
                    <th scope="col">Committed Date</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="commit : ${commits}">
                    <tr>
                        <th scope="row" th:text="${commit.shortId}">ed899a2f4b5</th>
                        <td th:text="${commit.committerName}">Administrator</td>
                        <td th:text="${commit.message}">Replace sanitize with escape once.</td>
                        <td th:text="${#temporals.format(commit.committedDate, 'yyyy-MM-dd HH:mm:ss')}">2019-01-01 15:05:01</td>
                        <td class="td-btn">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Choose
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#" data-target="docker" th:data-commit-id="${commit.id}">Build a new test docker</a>
                                    <a class="dropdown-item" href="#" data-target="sign" th:data-commit-id="${commit.id}">Signing process</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script layout:fragment="js-code" th:inline="javascript">
/*<![CDATA[*/
$('a.dropdown-item').click(function() {
    var target = $(this).attr('data-target');
    var commit = $(this).attr('data-commit-id');
    if (target == "docker") {
        bootbox.alert("Create Test Docker Container:<br>IP:192.168.33.105<br>Port:8899");
    } else if (target == "sign") {
        $.ajax({
            url: "/projects/" + [[${projectId}]] + "/members/all",
            dataType: "json"
        }).done(function(users) {
            if(users) {
                var selectBox = buildSelectBox(users);
                bootbox.dialog({
                    title: "Please choose your signing supervisor",
                    message: selectBox,
                    buttons: {
                        cancel: {
                            label: 'Maybe Not',
                            className: 'btn-light'
                        },
                        confirm: {
                            label: 'Send Request',
                            className: 'btn-primary',
                            callback: function(result){
                                console.log("supervisor is " + $("#supervisor").find(":selected").val());
                                $.post("/projects/" + [[${projectId}]] + "/supervisor/" + $("#supervisor").find(":selected").val()
                                    + "/commit/" + commit, function(data) {
                                    console.log(data);
                                });
                            }
                        }
                    }
                });
            } else {
                bootbox.alert("Can't find any user.");
            }
        });
    }
});

function buildSelectBox(users) {
    var $elem = $("<select>").attr("id", "supervisor").addClass("form-control");
    $.each(users, function(i, user) {
        $elem.append($("<option></option>").attr("value", user.id).text(user.name + '(' + user.username + ')'));
    });
    return $("<div>").append($elem).html();
}
/*]]>*/
</script>
</body>
</html>