<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}">
<head>
    <title>Main</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-8 h3 mb-5">Projects</div>
        <div class="col-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Last Activity</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="project : ${projects}">
                        <th scope="row" th:text="${project.id}">1</th>
                        <td th:text="${project.nameWithNamespace}">my project name</td>
                        <td th:text="${project.description}">my project description</td>
                        <td th:text="${#temporals.format(project.lastActivityAt, 'yyyy-MM-dd HH:mm:ss')}">2019-01-01 15:05:01</td>
                        <td class="td-btn" th:if="${state} == 'mine'">
                            <a class="btn btn-primary btn-sm" href="#" th:href="@{/projects/{projectId}/issues(projectId=${project.id},state='opened')}" role="button">Next</a>
                        </td>
                        <td class="td-btn" th:unless="${state} == 'mine'">
                            <a class="btn btn-primary btn-sm" href="#" th:href="@{/projects/{projectId}/branches(projectId=${project.id})}" role="button">Next</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>