<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/main-layout}">
<head>
    <title>Requests</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row justify-content-center">
        <div class="col-8 h3 mb-5">Requests</div>
        <div class="col-8">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created Date</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${#arrays.isEmpty(issues)}">
                    <tr>
                        <td colspan="5" class="h5 text-center">No Data Found.</td>
                    </tr>
                </th:block>
                <th:block th:each="issue : ${issues}">
                    <tr>
                        <th scope="row" th:text="${issue.id}">1</th>
                        <td th:text="${issue.title}">Create a new signing process request by Dumars</td>
                        <td th:text="${issue.description}">Create by gitlab-ext system. The commit id is [odhn48dhjx]</td>
                        <td th:text="${#temporals.format(issue.createdAt, 'yyyy-MM-dd HH:mm:ss')}">2019-01-01 15:05:01</td>
                        <td class="td-btn">
                            <div class="btn-group" role="group">
                                <button id="btnGroupDrop1" type="button" class="btn btn-warning btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Choose
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                                    <a class="dropdown-item" href="#" th:data-issue-id="${issue.id}" th:data-issue-iid="${issue.iid}" data-label="approve">Approve</a>
                                    <a class="dropdown-item" href="#" th:data-issue-id="${issue.id}" th:data-issue-iid="${issue.iid}" data-label="reject">Reject</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script layout:fragment="js-code" th:inline="javascript">
/*<![CDATA[*/
$(".dropdown-item").click(function() {
    var label = $(this).attr("data-label");
    var id = $(this).attr("data-issue-id");
    var iid = $(this).attr("data-issue-iid");
    $.ajax({
        url: "/projects/" + [[${projectId}]] + "/issues/" + id + "-" + iid + "?label=" + label,
        method: "PUT",
        dataType: "json"
    }).done(function(issue) {
        if ("closed" == issue.state) {
            bootbox.alert("Good job.", function() {
                window.location.reload();
            });
        }
    });
});
/*]]>*/
</script>
</body>
</html>